<!-- Navigation -->
{% if page.nav-style == "invert" or page.header-style == "text" %}
<nav class="navbar navbar-default navbar-custom navbar-fixed-top invert">
    {% else %}
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        {% endif %}
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="huxblog_navbar">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ site.baseurl }}/">Home</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/about/">About</a>
                        </li>
                        {% for page in site.pages %}
                        {% if page.title and page.hide-in-nav != true %}
                        <li>
                            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li>
                            <a href="{{ site.baseurl }}/gallery/">Gallery</a>
                        </li>
                        <li class="dropdown tools-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                TOOLS <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="https://draw.motorao.cn/">Draw</a></li>
                                <li><a href="https://vault.motorao.cn/">Vault</a></li>
                            </ul>
                        </li>
                        <li class="search-icon">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <script>
        // Drop Bootstarp low-performance Navbar
        // Use customize navbar with high-quality material design animation
        // in high-perf jank-free CSS3 implementation
        var $body = document.body;
        var $toggle = document.querySelector('.navbar-toggle');
        var $navbar = document.querySelector('#huxblog_navbar');
        var $collapse = document.querySelector('.navbar-collapse');

        var __HuxNav__ = {
            close: function () {
                $navbar.className = " ";
                // wait until animation end.
                setTimeout(function () {
                    // prevent frequently toggle
                    if ($navbar.className.indexOf('in') < 0) {
                        $collapse.style.height = "0px"
                    }
                }, 400)
            },
            open: function () {
                $collapse.style.height = "auto"
                $navbar.className += " in";
            }
        }

        // Bind Event
        $toggle.addEventListener('click', function (e) {
            if ($navbar.className.indexOf('in') > 0) {
                __HuxNav__.close()
            } else {
                __HuxNav__.open()
            }
        })

        /**
         * Since Fastclick is used to delegate 'touchstart' globally
         * to hack 300ms delay in iOS by performing a fake 'click',
         * Using 'e.stopPropagation' to stop 'touchstart' event from 
         * $toggle/$collapse will break global delegation.
         * 
         * Instead, we use a 'e.target' filter to prevent handler
         * added to document close HuxNav.  
         *
         * Also, we use 'click' instead of 'touchstart' as compromise
         */
        document.addEventListener('click', function (e) {
            if (e.target == $toggle) return;
            if (e.target.className == 'icon-bar') return;
            __HuxNav__.close();
        })

        // Tools dropdown hover functionality - Fixed compatibility issues
        var $toolsDropdown = document.querySelector('.tools-dropdown');
        if ($toolsDropdown) {
            var $dropdownMenu = $toolsDropdown.querySelector('.dropdown-menu');
            var $toolsToggle = $toolsDropdown.querySelector('.dropdown-toggle');
            var hoverTimer;
            
            // Set TOOLS button styles
            if ($toolsToggle) {
                $toolsToggle.style.setProperty('background-color', 'transparent', 'important');
                
                // Add hover effect that matches other nav items
                $toolsToggle.addEventListener('mouseenter', function() {
                    this.style.setProperty('color', 'rgba(255, 255, 255, 0.8)', 'important');
                });
                
                $toolsToggle.addEventListener('mouseleave', function() {
                    this.style.setProperty('color', '#ffffff', 'important');
                });
            }
            
            // Set dropdown menu styles (IE-compatible approach)
            if ($dropdownMenu) {
                // Set dropdown menu container styles
                $dropdownMenu.style.setProperty('background-color', 'transparent', 'important');
                $dropdownMenu.style.setProperty('min-width', '150px', 'important');
                $dropdownMenu.style.setProperty('width', '150px', 'important');
                
                // Style dropdown items
                var $dropdownItems = $dropdownMenu.querySelectorAll('li a');
                for (var i = 0; i < $dropdownItems.length; i++) {
                    var item = $dropdownItems[i];
                    // Set basic styles
                    item.style.setProperty('background-color', 'transparent', 'important');
                    item.style.setProperty('color', '#ffffff', 'important');
                    item.style.setProperty('text-align', 'center', 'important');
                    item.style.setProperty('padding', '10px 20px', 'important');
                    item.style.setProperty('display', 'block', 'important');
                    item.style.setProperty('width', '100%', 'important');
                    
                    // Add hover effects using closure to avoid variable scope issues
                    (function(currentItem) {
                        currentItem.addEventListener('mouseenter', function() {
                            this.style.setProperty('background-color', 'rgba(255, 255, 255, 0.2)', 'important');
                        });
                        
                        currentItem.addEventListener('mouseleave', function() {
                            this.style.setProperty('background-color', 'transparent', 'important');
                        });
                    })(item);
                }
            }
            
            // Dropdown hover functionality
            $toolsDropdown.addEventListener('mouseenter', function() {
                clearTimeout(hoverTimer);
                $toolsDropdown.classList.add('open');
            });
            
            $toolsDropdown.addEventListener('mouseleave', function() {
                hoverTimer = setTimeout(function() {
                    $toolsDropdown.classList.remove('open');
                }, 150);
            });
        }
    </script>
